<h2><%= t('page.city_hall.title') %></h2>
<% @city_comments.each do |cc| %>
  <a href="<%= city_comment_path(cc) %>">
    <div class="card">

      <div class="img-wrapper">
        <% if cc.picture %>
          <%= image_tag(cc.picture.photo.url(:medium), class: "img-article") %>
        <% end %>
      </div>

      <%= render partial: 'layouts/author', locals: { article: cc } %>

      <div class="mini-news">
        <h4><%= cc.title %></h4>
        <p><%= cc.description %></p>
      </div>
    </div>
<% end %>

