<h2>Notícias</h2>
<% @articles.each do |article| %>
		<div class="card">
			<a href="<%= article_path(article) %>">

				<div class="img-wrapper">
					<%= image_tag(article.photo.url(:medium), class: "img-article") %>
				</div>

				<%= render partial: 'layouts/author', locals: { article: article } %>

				<div class="mini-news">
					<h4><%= article.title %></h4>
					<p><%= article.description %></p>
				</div>

			</a>
		</div>

<% end %>

