<div class="mini-article">
	<%= simple_form_for @article do |f| %>
		<ul>
			<li> <%= f.input :title, placeholder: 'Título' %> </li>
			<li> <%= f.input :description, placeholder: 'Descrição', as: :text %></li>
			<li> <%= f.input :photo, as: :file %></li>
			<li> <%= f.button :submit, "Novo Artigo" %></li>
		</ul>
	<% end %>
</div>