<div class="full-article">
	<div class="author">
		<span><%= @article.user.image %></span>

		<div>
			<div><%= @article.user.name %></div>
			<div>Compartilhada: <%= @article.created_at %></div>
	</div>

	<div class="full-news">
		<h2><%= @article.title %></h2>
		<div><%= @article.description %></div>
	</div>
</div>