<div class="card full">
	<div class="short-new">

		<div class="img-wrapper">
			<%= image_tag(@article.photo.url(:medium), class: "img-article") %>
			<%= render partial: 'layouts/author', locals: { article: @article } %>
		</div>

		<div class="">
			<h4><%= @article.title %></h4>
			<p><%= @article.description %></p>
		</div>

	</div>

	<% if current_user == @article.user %>
		<%= link_to "Editar", edit_article_path(@article), class: "left"; %>
		<%= link_to "Deletar", article_path(@article), method: :delete, class: "right" %>
	<% end %>
</div>