<%= simple_form_for @event do |f| %>
	<ul>
		<li> <%= f.input :title, placeholder: 'Título', label: false %> </li>
		<li> <%= f.input :description, placeholder: 'Descrição', as: :text, label: false %></li>
		<li>
			<%= f.input :date, label: "Quando?", as: :date, start_year: Date.today.year, end_year: Date.today.year + 5, order: [:day, :month, :year] %>
		</li>

		<li>Anexar:</li>
		<li	class="file-upload">
				<%= image_tag "icon-camera.png" %>
				<%= f.fields_for :picture_attributes do |picture_fields| %>
					<%= picture_fields.file_field :photo %> 
				<% end %>
		</li>
	</ul>

	<div class="submit-area">
		<%= f.button :submit, "Enviar"%>
	</div>
<% end %>