<h2>Meus Artigos</h2>

<% unless @articles.empty? %>
  <h3>Artigos</h3>
  <% @articles.each do |article| %>
    <div class=''>
      <p><%= link_to article.title, article_path(article) %>
        <time>criado em: <%= article.updated_at.strftime("%d/%m/%Y") %></time>
      </p>
    </div>
  <% end %>
<% end %>

<% unless @events.empty? %>
  <h3>Eventos</h3>
  <% @events.each do |event| %>
    <div class=''>
      <p><%= link_to event.title, event_path(event) %>
        <time>criado em: <%= event.updated_at.strftime("%d/%m/%Y") %></time>
      </p>
    </div>
  <% end %>
<% end %>

<% unless @jobs.empty? %>
  <h3>Empregos</h3>
  <% @jobs.each do |job| %>
    <div class=''>
      <p><%= link_to job.title, job_path(job) %>
        <time>criado em: <%= job.updated_at.strftime("%d/%m/%Y") %></time>
      </p>
    </div>
  <% end %>
<% end %>

<% unless @city_comments.empty? %>
  <h3>Recado para Prefeitura</h3>
  <% @city_comments.each do |city_comment| %>
    <div class=''>
      <p><%= link_to city_comment.title, city_comment_path(city_comment) %>
        <time>criado em: <%= city_comment.updated_at.strftime("%d/%m/%Y") %></time>
      </p>
    </div>
  <% end %>
<% end %>

