<div class="card full">
	<div class="short-new">

		<div class="img-wrapper">
			<% if @promotion.picture %>
				<%= image_tag(@promotion.picture.photo.url(:medium), class: "img-article") %>
			<% end %>
			<%= render partial: 'layouts/author', locals: { article: @promotion } %>
		</div>

		<div class="">
			<h4><%= @promotion.title %></h4>
			<p><%= @promotion.description %></p>
		</div>

	</div>

	<% if current_user == @promotion.user %>
		<%= link_to "Editar", edit_promotion_path(@promotion), class: "left"; %>
		<%= link_to "Deletar", promotion_path(@promotion), method: :delete, class: "right" %>
	<% end %>
</div>