<header>
  <div class="logo"><%= link_to 'Capitolio NEWS', root_path %></div>
  <nav>
    <ul>
      <% if current_user %>
        <li><%= link_to "Sair", destroy_user_session_path, method: :delete %></li>
        <li><%= image_tag current_user.image %></li>
        <li><%= link_to("Novo", new_article_path) %></li>
      <% else %>
        <li>
          <%= link_to "logar com Facebook", user_omniauth_authorize_path(:facebook) %>
        </li>
      <% end %>
    </ul>
  </nav>
</header>