<nav class="nav-main">
  <ul>
    <li><%= link_to t('header.home'), root_path %></li>
    <li><%= link_to t('header.news'), articles_path %></li>
    <li><%= link_to t('header.events'), events_path %></li>
    <li><%= link_to t('header.promotions'), promotions_path %></li>
    <li><%= link_to t('header.jobs'), jobs_path %></li>
    <li><%= link_to t('header.city_hall'), city_comments_path %></li>
  </ul>
</nav>