<nav class='nav-main' data-main-menu>
  <ul>
    <li><a href='#' data-menu-route='/'><%= t('header.home') %></a></li>
    <li><a href='#' data-menu-route='articles'><%= t('header.news') %></a></li>
    <li><a href='#' data-menu-route='events'><%= t('header.events') %></a></li>
    <li><a href='#' data-menu-route='promotions'><%= t('header.promotions') %></a></li>
    <li><a href='#' data-menu-route='jobs'><%= t('header.jobs') %></a></li>
    <li><a href='#' data-menu-route='talk_with_city_hall'><%= t('header.city_hall') %></a></li>
  </ul>
</nav>