<nav class="nav-user">
  <ul>
    <% if current_user %>
      <li>

        <%= image_tag("plus-btn-2.png") %>
        <ul class="drop-down">
          <li><%= link_to "Notícias", new_article_path %></li>
          <li><%= link_to "Eventos", new_event_path %></li>
          <li><%= link_to "Promoções", new_promotion_path %></li>
          <li><%= link_to "Turismo", new_article_path %></li>
          <li><%= link_to "Empregos", new_article_path %></li>
          <li><%= link_to "Enquetes", new_article_path %></li>
          <li><%= link_to "Prefeitura", new_article_path %></li>
        </ul>

      </li>
      <li>
        <%= image_tag current_user.image, class: "user-logo" %>
        <ul class="drop-down">
          <li><%= link_to "Sair", destroy_user_session_path, method: :delete %></li>
        </ul>
      </li>
    <% else %>
      <li>
        <%= link_to "Logar com Facebook", user_omniauth_authorize_path(:facebook) %>
      </li>
    <% end %>
  </ul>
</nav>