<nav class="nav-main">
	<ul>
		<li><%= link_to "Notícias", articles_path %></li>
		<li><%= link_to "Eventos", events_path %></li>
		<li><%= link_to "Promoções", articles_path %></li>
		<li><%= link_to "Turismo", articles_path %></li>
		<li><%= link_to "Empregos", articles_path %></li>
		<li><%= link_to "Enquetes", articles_path %></li>
		<li><%= link_to "Fale com a prefeitura", articles_path %></li>
	</ul>
</nav>