<nav class="nav-user" data-menu-share>
  <% if current_user %>
    <ul class="img-menu">
      <li>
        <%= image_tag "plus-btn-2.png" %>
        <ul class="drop-down">
          <li><a href="#" data-share='articles'><%= t('header.news') %></a></li>
          <li><a href="#" data-share='events'><%= t('header.events') %></a></li>
        </ul>
      </li>

      <li>
        <%= image_tag current_user.image, class: "user-logo" %>
        <ul class="drop-down">
          <li><%= link_to t('header.my_account'), user_account_path %></li>
          <li><%= link_to t('header.exit'), destroy_user_session_path, method: :delete %></li>
        </ul>
      </li>
    </ul>
  <% else %>
    <ul>
      <li><%= link_to t('header.login'), user_omniauth_authorize_path(:facebook) %></li>
    </ul>
  <% end %>
</nav>
