<nav class="nav-main">
  <ul>
    <li><%= link_to "Principal", root_path %></li>
    <li><%= link_to "Notícias", articles_path %></li>
    <li><%= link_to "Eventos", events_path %></li>
    <li><%= link_to "Promoções", promotions_path %></li>
    <li><%= link_to "Empregos", jobs_path %></li>
    <li><%= link_to "Fale com a prefeitura", city_comments_path %></li>
  </ul>
</nav>